.colors-bar {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 100%;
  background-color: white;

  &__header {
    display: block;
    text-align: center;
  }

  &__picker {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    flex-grow: 1;
    height: 100%;
  }

  &__selector {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
  }

  &__selector > &__row {
    height: 100%;
    padding: 0 50px;
  }

  &__picker + &__selector {
    margin-top: 30px;
  }

  &__header + &__row {
    margin-top: 15px;
  }
}
