.workzone {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);

  &__container {
    display: grid;
    grid-template-columns: 500px 200px;
    grid-template-rows: 500px 100px;
    grid-gap: 15px;
  }

  &__canvas {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: hidden;
  }

  &__colors-bar {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
  }

  &__controls-bar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
